# Specific resource ignores
/resources/\[web\]/irc/settings.xml
/resources/\[web\]/irc/irc.log
/resources/\[race\]/race_toptimes/deleted_tops.log
/resources/\[gameplay\]/gcshop/items/paintjob/*.bmp
/resources/\[gameplay\]/gcshop/shop.log
/resources/\[gameplay\]/helpmenu/svn.xml
/resources/\[gameplay\]/helpmenu/motd.xml
/resources/\[gameplay\]/chatbox_ads/ads.xml
/resources/\[admin\]/admin/conf/reports.xml

# Web settings
www/mta/mtasettings.php