# Compiled Lua sources
#luac.out

# luarocks build files
*.src.rock
#*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Specific resource ignores
/resources/\[web\]/irc/settings.xml
/resources/\[web\]/irc/irc.log
/resources/\[race\]/race_toptimes/deleted_tops.log
/resources/\[gameplay\]/gcshop/items/paintjob/*.bmp
/resources/\[gameplay\]/gcshop/shop.log
/resources/\[gameplay\]/gus/adminapplicants.xml
/resources/\[gameplay\]/helpmenu/svn.xml
/resources/\[gameplay\]/helpmenu/motd.xml
/resources/\[gameplay\]/chatbox_ads/ads.xml
/resources/\[admin\]/admin/conf/reports.xml

# Web settings
www/mta/mtasettings.php

# Project files
MrGreenMTA.sublime-workspace
