# Ignore everything in [ctf]
/\[ctf\]/*
# Except default map
!/\[ctf\]/CTF-Desert-War/

# Ignore everything in [dd]
/\[dd\]/*
# Except default map
!/\[dd\]/dd-wankenstein/

# Ignore everything in [deletedmaps]
/\[deletedmaps\]/*
# Except default map
!/\[deletedmaps\]/dd-megacross_deleted/

# Ignore everything in [nts]
/\[nts\]/*
# Except default map
!/\[nts\]/nts-neverthesame/

# Ignore everything in [race]
/\[race\]/*
# Except default map
!/\[race\]/race-bandito/

# Ignore everything in [rtf]
/\[rtf\]/*
# Except default map
!/\[rtf\]/rtf-zigzag/

# Ignore everything in [shooter]
/\[shooter\]/*
# Except default map
!/\[shooter\]/sh-Rocks/

# Ignore everything in [uploadedmaps] and zips
/\[uploadedmaps\]/*
/\[uploadedmaps\]/zips/*
# Except default map
!/\[uploadedmaps\]/race-nts_newupload/
!/\[uploadedmaps\]/zips/
!/\[uploadedmaps\]/zips/race-nts.zip