<acl>
        <command name="!kick" level="2" echoChannelOnly="true" />
        <command name="!uptime" level="0" echoChannelOnly="false" />
		<command name="!isBan" level="0" echoChannelOnly="false" />
        <command name="!say" level="0" echoChannelOnly="true" />
        <command name="!s" level="0" echoChannelOnly="true" />
        <command name="!m" level="0" echoChannelOnly="true" />
        <command name="!players" level="0" echoChannelOnly="true" />
        <command name="!pm" level="0" echoChannelOnly="true" />
        <command name="!getip" level="2" echoChannelOnly="true" />
        <command name="!getserial" level="2" echoChannelOnly="true" />
        <command name="!mute" level="2" echoChannelOnly="true" />
        <command name="!unmute" level="2" echoChannelOnly="true" />
        <command name="!freeze" level="2" echoChannelOnly="true" />
        <command name="!unfreeze" level="2" echoChannelOnly="true" />
        <command name="!kill" level="2" echoChannelOnly="true" />
        <command name="!slap" level="2" echoChannelOnly="true" />
        <command name="!ban" level="3" echoChannelOnly="true" />
        <command name="!banip" level="3" echoChannelOnly="true" />
        <command name="!banserial" level="3" echoChannelOnly="true" />
        <command name="!banname" level="3" echoChannelOnly="true" />
        <command name="!unbanip" level="3" echoChannelOnly="true" />
        <command name="!unbanserial" level="3" echoChannelOnly="true" />
        <command name="!unban" level="3" echoChannelOnly="true" />
        <command name="!bans" level="3" echoChannelOnly="true" />
        <command name="!commands" level="0" echoChannelOnly="false" />
        <command name="!cmds" level="0" echoChannelOnly="false" />
        <command name="!run" level="4" echoChannelOnly="true" />
        <command name="!crun" level="4" echoChannelOnly="true" />
        <command name="!resources" level="3" echoChannelOnly="true" />
        <command name="!start" level="3" echoChannelOnly="true" />
        <command name="!restart" level="3" echoChannelOnly="true" />
        <command name="!update" level="3" echoChannelOnly="true" />
        <command name="!stop" level="3" echoChannelOnly="true" />
        <command name="!account" level="3" echoChannelOnly="true" />
        <command name="!community" level="3" echoChannelOnly="true" />
        <command name="!money" level="0" echoChannelOnly="true" />
        <command name="!health" level="0" echoChannelOnly="true" />
        <command name="!wantedlevel" level="0" echoChannelOnly="true" />
        <command name="!team" level="0" echoChannelOnly="true" />
        <command name="!ping" level="0" echoChannelOnly="true" />
        <command name="!modules" level="3" echoChannelOnly="true" />
        <command name="!changemap" level="3" echoChannelOnly="true" />
		<command name="!p" level="0" echoChannelOnly="true" />
		<command name="!P" level="0" echoChannelOnly="true" />
		<command name="!Players" level="0" echoChannelOnly="true" />
		<command name="!c" level="0" echoChannelOnly="true" />
		<command name="!country" level="0" echoChannelOnly="true" />
		<command name="!map" level="0" echoChannelOnly="true" />
		<command name="!serial" level="2" echoChannelOnly="true" />
		<command name="!names" level="2" echoChannelOnly="true" />
		<command name="!admins" level="0" echoChannelOnly="true" />
		<command name="!redirect" level="2" echoChannelOnly="true" />
		<command name="!addban" level="2" echoChannelOnly="true" />
		<command name="!seen" level="0" echoChannelOnly="true" />
		<command name="!version" level="2" echoChannelOnly="true" />
</acl>
