<main>
    <lastFetchedReleaseVersion>1.3.5-9.06471.0</lastFetchedReleaseVersion>
    <lastFetchedLatestVersion>1.3.5-9.06596.0</lastFetchedLatestVersion>
    <acpanelVersion>0.1.3</acpanelVersion>
    <acpanelUrl>http://nightly.mtasa.com/ver/acpanel/update/</acpanelUrl>
    <minclientconfig.type>latest</minclientconfig.type>
</main>
